# Convex configuration, Set up to use local development server
CONVEX_DEPLOYMENT=local:local-tacticus_tools-tp2_reset # team: tacticus-tools, project: tp2-reset
VITE_CONVEX_URL=http://127.0.0.1:3210
VITE_CONVEX_SITE_URL=http://127.0.0.1:3211
